<form>
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input
      matInput
      placeholder="Title"
      [(ngModel)]="title"
      name="title"
      required
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Producer</mat-label>
    <input
      matInput
      placeholder="Producer"
      [(ngModel)]="producer"
      name="producer"
      required
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Length</mat-label>
    <input
      matInput
      placeholder="Length"
      [(ngModel)]="length"
      name="length"
      required
    />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Year</mat-label>
    <input
      matInput
      placeholder="Year"
      [(ngModel)]="year"
      name="imageUrl"
      required
    />
  </mat-form-field>
</form>
