<nz-page-header
  class="site-page-header"
  nzTitle="Welcome to your Movie List"
  nzSubtitle="Your favorites"
></nz-page-header>

<div class="table-container">
  <div class="table-operations">
    <form class="d-flex" role="search">
      <button nz-button nzType="primary" mat-button (click)="showModalForAdd()">
        <span>Add New Movie</span>
      </button>
      <nz-modal
        *ngIf="isVisibleAdd"
        [(nzVisible)]="isVisibleAdd"
        nzTitle="Add a movie"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOkAdd()"
        [nzOkLoading]="isOkLoading"
      >
        <p *nzModalContent>
          <app-add-movie (newMovie)="movieAdded($event)"></app-add-movie>
        </p>
      </nz-modal>
    </form>
  </div>

  <nz-table [nzData]="movieList" [nzPageSize]="8">
    <thead>
      <tr>
        <th nzLeft>Title</th>
        <th>Year</th>
        <th>Length</th>
        <th>Producer</th>
        <th>Rating</th>
        <th>Action</th>
        <th>
          <a nz-dropdown [nzDropdownMenu]="menu">
            Sort by
            <span nz-icon nzType="down"></span>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="sortByYear()">Year</li>
              <li nz-menu-item (click)="sortByLength()">Length</li>
              <li nz-menu-item (click)="sortByTitle()">Title</li>
              <li nz-menu-item (click)="sortByRating()">Rating</li>
            </ul>
          </nz-dropdown-menu>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of movieList; let i = index"
        (click)="showModalDetails(data)"
      >
        <td nzLeft>{{ data.title | uppercase }}</td>
        <td>{{ data.year }}</td>
        <td>{{ data.length }}</td>
        <td>{{ data.producer }}</td>
        <td><nz-rate [ngModel]="data.rating"></nz-rate></td>
        <td>
          <div class="table-operations">
            <form class="d-flex" role="search">
              <span
                nz-icon
                nzType="edit"
                nzTheme="outline"
                (click)="showModalForEdit(data)"
              >
              </span>
              <nz-modal
                *ngIf="isVisibleEdit && data.editable"
                [(nzVisible)]="isVisibleEdit"
                nzTitle="Edit a movie"
                (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOkEdit()"
                [nzOkLoading]="isOkLoading"
              >
                <p *nzModalContent>
                  <app-edit-movie [originalMovie]="data"> </app-edit-movie>
                </p>
              </nz-modal>
            </form>
          </div>
        </td>
        <td>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="deleteMovie(i)"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!-- <nz-modal
  *ngIf="isVisibleDetails"
  [(nzVisible)]="isVisibleDetails"
  [nzTitle]="movieSelectedForDetails.title"
  (nzOnCancel)="handleCancelDetails()"
>
  <ng-container *nzModalContent>
    <h2>Produced by {{ movieSelectedForDetails.producer }}</h2>
    <p>
      The movie debuted in {{ movieSelectedForDetails.year }}, having a duration
      of {{ movieSelectedForDetails.length }}
    </p>
  </ng-container>
</nz-modal> -->

<nz-modal
  *ngIf="isVisibleDetails"
  [(nzVisible)]="isVisibleDetails"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
>
  <ng-template #modalTitle>{{ movieSelectedForDetails.title }}</ng-template>

  <ng-template #modalContent>
    <h2>Produced by {{ movieSelectedForDetails.producer }}</h2>
    <p>
      The movie debuted in {{ movieSelectedForDetails.year }}, having a duration
      of {{ movieSelectedForDetails.length }}
    </p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancelDetails()">
      Cancel
    </button>
  </ng-template>
</nz-modal>
