button {
  margin: 0px 10px 0px 10px;
}
.description-container {
  text-align: center;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabel {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
.addbutton {
  border-radius: 10px;
  margin-bottom: 10px;
}
