<nz-page-header
  class="site-page-header"
  nzTitle="Welcome to your Movie List"
  nzSubtitle="Your favorites"
></nz-page-header>
<div class="table-container">
  <div class="table-operations">
    <form class="d-flex" role="search">
      <button nz-button nzType="primary" mat-button (click)="showModalForAdd()">
        <span>Add New Movie</span>
      </button>
      <nz-modal
        *ngIf="isVisibleAdd"
        [(nzVisible)]="isVisibleAdd"
        nzTitle="Add a movie"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOkAdd()"
        [nzOkLoading]="isOkLoading"
      >
        <p *nzModalContent>
          <app-add-movie (newMovie)="movieAdded($event)"></app-add-movie>
        </p>
      </nz-modal>
    </form>
  </div>

  <nz-table [nzData]="movieList" [nzPageSize]="8">
    <thead>
      <tr>
        <th nzLeft>Title</th>
        <th>Year</th>
        <th>Length</th>
        <th>Producer</th>
        <th>Rating</th>
        <th>Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of movieList; let i = index">
        <td nzLeft>{{ data.title | uppercase }}</td>
        <td>{{ data.year }}</td>
        <td>{{ data.length }}</td>
        <td>{{ data.producer }}</td>
        <td><nz-rate [ngModel]="data.rating"></nz-rate></td>
        <td>
          <div class="table-operations">
            <form class="d-flex" role="search">
              <span
                nz-icon
                nzType="edit"
                nzTheme="outline"
                (click)="showModalForEdit()"
              >
              </span>
              <nz-modal
                *ngIf="isVisibleEdit"
                [(nzVisible)]="isVisibleEdit"
                nzTitle="Edit a movie"
                (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleOkEdit()"
                [nzOkLoading]="isOkLoading"
              >
                <p *nzModalContent>
                  <app-edit-movie [originalMovie]="data"> </app-edit-movie>
                </p>
              </nz-modal>
            </form>
          </div>
          <!-- <span
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="editMovie(data, i)"
          >
            <app-edit-movie [originalMovie]="data"> </app-edit-movie
          ></span> -->
        </td>
        <td>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="deleteMovie(i)"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
